body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('static/background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    display: none;
}

header {
    background-image: linear-gradient(to bottom right, #bc2b3a, #1c016c);
    color: #fff;
    padding: 20px;
    text-align: center;
  }

main {
    padding: 20px;
}

#search-section {
    margin-bottom: 20px;
    text-align: center; 
}

h2 {
    color: white;
}

#crypto-input,
#date-input,
#search-btn {
    margin: 10px;
}

#crypto-input,
#date-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#search-btn {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f63e24; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-btn:hover {
    background-color: #ba2c3a; 
}

#crypto-cards {
    color: #f63e24;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.crypto-card {
    background-color: #2a0167; 
    border-color: #f63e24;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.33% - 20px); 
}

@media screen and (max-width: 768px) {
    .crypto-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .crypto-card {
        width: 100%;
    }
}

footer {
    background-image: linear-gradient(to bottom right, #af283e, #f33e23);
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

